<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
        <br />
        <a href="" id="signin-button" class="button is-primary">sign in</a>
      </p>

      <input type="file" id="file-upload" accept=".png, .jpg, .jpeg" />
      <button id="file-submit">Upload</button>

      <div id="image"></div>


        <button id="reset">Reset</button>


    </div>
  </section>
    <!--<div id="app" />-->
  </body>
</html>
