<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <nav class="navbar">
  <div class="container">
	   <div class="the-icons span3" title="Code: 0xe800"><i class="icon-camera-alt">&#xe800;</i></div> 
	   <a href="" id="signin-button" class="button is-primary">sign in</a>
  </div>
  </nav>
  
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
       
      </p>
    </div>
  </section>
  
      <section class="section timeline">
		<div class="container">			
			<div class="tile is-parent">
				<div class="tile is-8">
					<p>img</p>
				</div>
				<div class="tile is-4">
					<p>img</p>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-4">
					<p>img</p>
				</div>
				<div class="tile is-8">
					<p>img</p>
				</div>
			</div>
		</div>
	</section>
  </body>
</html>