@import "~bulma/bulma.sass";

$primary-color: #1EB31E;

.navbar .bsgicon {
	height: 28px;
	width: 28px;
	margin-right: 1vw;
  float: left;
  svg path {
    fill: #1EB31E;
  }
}

/*.navbar .button {
	margin: 1vw;
	background: $primary-color;
}
*/

.imagewall  {
    img {
      max-height: 60vh;
      margin-right: 5vw;
    }  
}